#ContentTree_Breadcrumb {
  margin-top: 20px;
  color: gray;
}
#content-tree-admin-form #node-types-wrapper {
  display: inline;
  margin-left: 20px;
}
#content-tree-admin-form .description {
  font-size: 0.85em;
}
#content-tree-admin-form #edit-operation-wrapper {
  display: inline;
}
#content-tree-admin-form #edit-dst-wrapper {
  margin-top: 0px;
}
#ContentTree_Table .form-item {
  display: inline;
}
#ContentTree_Table td.select-item {
  width: 80px;
  text-align: left;
}
#ContentTree_Path {
  margin-top: 1em;
  background-color: #f5f5f5;
  padding: 3px 10px;
}
#ContentTree_Path .path {
  font-weight: bold;
}
#ContentTree_Menu .title {
  font-weight: bold;
  background: url(../images/arrow-down.png) no-repeat right;
  padding-right: 20px;
}
#ContentTree_Menu {
  font-family: verdana, sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
}
#ContentTree_Menu ul,
#ContentTree_Menu li {
  padding: 0px;
  margin: 0px;
}
#ContentTree_Menu ul {
  opacity: 0.80;
  filter: alpha(opacity=80);
  background-color: #666666;
  width: 170px;
}
#ContentTree_Menu a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 5px 10px;
  border-top: 1px solid #444444;
}
#ContentTree_Menu {
  background-color: #666666;
  list-style-type: none;
  padding: 0px;
  margin: 1em 0;
  width: 170px;
  border-style: solid;
  border-color: #444444;
  border-width: 0px 1px 1px 1px;
}
#ContentTree_Menu li ul {
  display: none;
}
#ContentTree_Menu li {
  background-image: none;
  margin: 0px;
  position: relative;
}
#ContentTree_Menu a:hover {
  background-color: #222222;
}
#ContentTree_Menu li ul {
  position: absolute;
  z-index: 100;
}
#ContentTree_Menu li:hover ul {
  display: block;
}
